@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Russo+One&family=Tektur:wght@400;500;600;700&display=swap");

/* font-family: 'Delius Unicase', sans-serif;  => Title Font */
/* font-family: 'Tektur' , sans-serif; => H2 Font */
/* font-family: 'Russo One', sans-serif;  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* Universal */

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}

h2 {
  font-family: "Tektur", sans-serif;
}

/* Universal end */

.container {
  width: 100%;
  /* background-color: rgb(255, 0, 0); */
  background-color: black;
  overflow: hidden;
}

/* Hero Section */

.heroSection {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgb(241, 234, 233);
}

/* Hero Section Texts Container*/

.heroSection_texts {
  width: 100%;
  min-height: inherit;
  padding: 2rem 8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hero Section Texts */

.hSecText_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hSecText_header > span {
  font-family: "Delius Unicase", sans-serif;
  font-size: 3.5rem;
}

.hSecText_div1 {
  width: 100%;
  padding: 5rem 0rem 0rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hSecText_div1 > h1 {
  font-family: "Tektur", sans-serif;
  font-size: 11rem;
}

.hSecText_div1 > h1 > div {
  display: flex;
  gap: 2.5rem;
}

.hSecText_div2 {
  width: 100%;
  padding: 5rem 0rem 0rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hSecText_div2 > span {
  font-family: "Russo One", sans-serif;
  font-size: 12rem;
  background: linear-gradient(30deg, brown, rgb(105, 26, 26), black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Hero Section Effects */

.heroCursorEffect,
.s4CursorEffect {
  height: 100rem;
  width: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(88, 182, 253, 0.277);
  filter: blur(100px);
  animation-delay: 2s;
}

.heroCircleEffect {
  height: 150rem;
  width: 150rem;
  position: absolute;
  top: -50%;
  left: -39%;
  z-index: -1;
  border: 2.5px dashed rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

/* Section 1 */

.section1 {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 8rem;
  display: none;
  position: absolute;
  top: 0%;
  z-index: 2;
  background-color: black;
  color: white;
}

.s1_videoDiv {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1_videoDiv > video {
  width: 140%;
}

.s1_textDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.s1_textDiv > h2 {
  font-size: 8rem;
}

.s1_textDiv > p {
  width: 80%;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3.8rem;
}

.s1_textDiv > p > span {
  opacity: 0.5;
}

/* Section 2 */

.section2 {
  width: 100%;
  min-height: 100vh;
  margin-top: 10rem;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.s2_header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2_header > h2 {
  font-family: "Tektur", sans-serif;
  font-size: 4rem;
}

.s2_header > h2 > span {
  color: #ff063cff;
}

.s2_techBoxes {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: flex-start;
}

.s2_techBoxes > div {
  height: 26rem;
  width: 40rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: white;
}

.s2_techBoxes > div > i {
  font-size: 5rem;
}

.s2_techBoxes > div > h3 {
  font-family: "Tektur", sans-serif;
  font-size: 2.8rem;
}

.s2_techBoxes > div > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2.3rem;
  width: 93%;
  text-align: center;
}

.box1Video {
  overflow: hidden;
  border: 2px solid black;

  position: relative;
  z-index: 6;
}

.box1Video > video {
  width: 130%;
}

.box2Html {
  border: 2px solid red;
  position: relative;
  z-index: 5;
}

.box2Html > i {
  color: red;
}

.box3Css {
  border: 2px solid blue;
  position: relative;
  z-index: 4;
}

.box3Css > i {
  color: blue;
}

.box4Bootstrap {
  border: 2px solid #8d13feff;
}

.box4Bootstrap > i {
  color: #8d13feff;
}

.box5Javascript {
  border: 2px solid #f7e018ff;
}

.box5Javascript > i {
  color: #f7e018ff;
}

.box6React {
  border: 2px solid #00dcffff;
}

.box6React > i {
  color: #00dcffff;
}

/* Section 3 */

.section3 {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section3 > div {
  flex-shrink: 0;
}

.s3Text {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3Text > h2 {
  display: flex;
  flex-direction: column;
  font-size: 7rem;
  font-family: "Russo One", sans-serif;
}

.s3Text > h2 > span {
  position: relative;
  -webkit-text-stroke: 0.2px white;
}

.s3Text > h2 > span:nth-child(4) {
  margin-left: 1rem;
}

.s3Projects {
  width: 90%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.project {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.project > video {
  width: 100%;
}

/* Section 4 */

.section4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgb(241, 234, 233);
}

.s4H2 {
  font-size: 7rem;
  margin-top: 4rem;
}

.s4FormContainer {
  width: 85rem;
  height: 55vh;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
}

.s4FormContainer > form {
  width: 65%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: white;
}

.formDivs input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 0.1rem 0rem 0.5rem;
}

.formDiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.formDiv1 > span {
  font-family: "Russo One", sans-serif;
  font-size: 2.2rem;
}

.formDiv1 > i {
  color: #bb071bff;
  font-size: 2.5rem;
  padding-right: 2rem;
}

.formDiv2 {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.formDiv2 > input {
  width: 47%;
}

.formDiv3 {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.formDiv3 > input {
  width: 47%;
}

.formDiv4 {
  height: 15rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.formDiv4 > input:nth-child(1) {
  height: 5rem;
}
.formDiv4 > input:nth-child(2) {
  height: 5rem;
  margin-top: 2rem;
}
.formDiv5 {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv5 > button {
  background-color: #bb071bff;
  border: none;
  outline: none;
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 4rem;
  border-radius: 10px;
  font-family: "Tektur", cursive, sans-serif;
  font-weight: 500;
  transition: 150ms ease-in-out;
}

.formDiv5 > button:hover {
  background-color: rgb(161, 4, 22);
  transform: scale(0.97);
}

.contactInfo {
  width: 35%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/img_1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.72);
}

.contactInfoDivs {
  width: 100%;
  height: 10%;
}

.contactInfoDiv1 {
  margin-top: 3rem;
}

.contactInfoDiv1 > span {
  font-family: "Russo One", sans-serif;
  font-size: 2.1rem;
  padding-left: 2rem;
}

.contactInfoDiv2,
.contactInfoDiv3 {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  margin-top: 2rem;
}

.contactInfoDiv2 > i,
.contactInfoDiv3 > i {
  font-size: 3rem;
}

.contactInfoDiv2 > span,
.contactInfoDiv3 > span {
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contactInfoDiv4 {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
  margin-top: 2rem;
}

.contactInfoDiv4 > a:nth-child(1) > i {
  font-size: 3.2rem;
  color: #0a66c2ff;
}

.contactInfoDiv4 > a:nth-child(2) > i {
  font-size: 3.2rem;
  background: linear-gradient(30deg, #f8c900, #f94c00ff, #c22773ff, #8039b1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Footer */

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > span {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Delius Unicase", sans-serif;
}
